.login-header {
    padding: 25px 40px;
}

.login-logo {
    height: 45px;
}

.login-container {
    max-width: 650px;
    margin: auto;
    text-align: center;
    padding: 20px;
}

.login-title {
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

.required-info {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.login-card {
    background: #fafafa;
    border-radius: 16px;
    padding: 35px 40px;
    text-align: left;
    border: 1px solid #e5e5e5;
}

.input-label {
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin: 15px 0 5px;
}

.input-box {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #dcdcdc;
    font-size: 15px;
    outline: none;
}

.input-box:focus {
    border-color: #000;
}

.password-wrapper {
    position: relative;
}

.toggle-pass {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}

.checkbox-row {
    margin-top: 18px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox-row a {
    color: black;
    font-weight: 500;
}

.login-links {
    margin-top: 20px;
}

.login-links a {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.login-btn {
    width: 110px;
    margin-top: 25px;
    background: #000;
    color: #fff;
    padding: 12px 0;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    transition: 0.2s;
}

.login-btn:hover {
    opacity: 0.8;
}

.join-section {
    margin-top: 50px;
    text-align: center;
}

.join-section h3 {
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    font-weight: 700;
}

.join-section p {
    max-width: 430px;
    margin: auto;
    font-size: 14px;
    line-height: 22px;
    color: #444;
}

.join-btn {
    margin-top: 20px;
    border: 1px solid #000;
    padding: 10px 20px;
    border-radius: 25px;
    background: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.join-btn:hover {
    background: #000;
    color: #fff;
}

/* REGISTER SECTION */
.register-section h2 {
    font-size: 32px;
}

.register-box input {
    height: 48px;
    border: 1.5px solid #e5e5e5;
    font-size: 15px;
}

.register-box input:focus {
    border-color: #000;
    box-shadow: none;
}

.register-box h5 {
    color: #111;
}

.register-box label {
    color: #222;
}